

/* Start of external fonts */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* End of external fonts */


/* Start of generic styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* End of generic styling */


/* Start of Navigation Bar */
.navbar{
    height: 60px;
    background: #BF4C41;
    position: absolute;
    top:0;
}

.navbar .site-name{
    display: flex;
    justify-content: start;
    align-items: center;  
}

.navbar .site-name h1, i{
    color: #fff;
    margin-right: 15px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: end;
}
.navigation .cart i{
    font-size: 2.2em;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.navigation .cart .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top:3px;
    right: 27px;
    background: #ec5c2c;
    border-radius: 20px;
    width: 20px;
    color: #fff;
    cursor: pointer;
}

/* End of Navigation Bar */


/* Start of Content */

.lessons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.lesson-card{
    margin: 15px;
    height: 500px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
}

.lesson-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #BF4C41;
}

.lesson-icon i{
    font-size: 4em;
    margin: 0;
}

.lesson-icon p{
    color: #fff;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
}

.lesson-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.card-button{
    border: none;
    width: 100%;
    height: 70px;
    background-color: #BF4C41;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.1em;
}
/* End of Content /*


/* Start of Footer */

.footer{
    height: 400px;
    background: #c16f67;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #fff;
    background: #BF4C41;
}

/* End of Footer */


[v-cloak] {
    display: none;
}
  

.lessons-filter{
    width: 90%;
    background: #BF4C41;
    height: 500px;
    border-radius: 12px;

}