/* ------------ Start of external fonts ------------ */

/* Start of Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
/* End of Google Fonts */

/* ------------ End of external fonts ------------ */



/* ------------ Start of generic styling ------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    animation: fade-in 1s ease-in-out;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    line-height: 1;
    background: green;
}

#app {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    background: yellow;
}


/* Start of Scrollbar Config */
::-webkit-scrollbar {
    width: 17px;
    background: #fddfdc;
}

::-webkit-scrollbar-thumb {
    background: #BF4C41;
}

/* End of Scrollbar Config */

[v-cloak] {
    display: none;
}

/* ------------ End of generic styling ------------ */

/* ------------ Start of Navigation Bar ------------  */
.navbar {
    height: 60px;
    background: #BF4C41;
}

.navbar .site-name {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar .site-name h1,
i {
    color: #fff;
    margin-right: 15px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navigation .cart i {
    font-size: 2.2em;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.navigation .cart .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 3px;
    right: 27px;
    background: #ec5c2c;
    border-radius: 20px;
    width: 20px;
    color: #fff;
    cursor: pointer;
}

/* ------------ End of Navigation Bar ------------ */

.wrapper {
    background: #fddfdc;
    min-height: 87vh;
}

.lessons-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background: #fddfdc;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    min-height: 707px;
}

/* ------------ Start of Lesson Card ------------ */

.lesson-card {
    margin: 15px;
    height: 500px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
    background: #fff;
}

.lesson-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #BF4C41;
}

.lesson-image {
    padding: 12px;
}

.lesson-image img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.lesson-image i {
    position: absolute;
    z-index: 1;
    color: #ffffff;
}

.spaces-tag {
    background: #BF4C41;
    font-size: 2em;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
    border-radius: 40px;
    font-weight: bold;
    border: solid white 2px;
}

.details {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BF4C41;
    font-size: 2em;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    border: solid white 2px;
    float: right;
    position: relative;
    border: none;
    bottom: 75px;
    border-radius: 30px 0px 30px 0px;
    width: 150px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.lesson-icon i {
    font-size: 4em;
    margin: 0;
}

.no-lessons-found{
    width: 400px;
    height: 400px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.no-lessons-found img{
    width: 80%;
    height: 40%;
}

.no-lessons-found h3{
    color: #bdbdbd;
    font-size: 1.3em;
    margin-top: 20px;
    font-family: 'Red Hat Display', sans-serif;
}



.lesson-icon p {
    color: #fff;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

.lesson-icon img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;

}

.lesson-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.card-button {
    border: none;
    width: 100%;
    height: 70px;
    background-color: #BF4C41;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    bottom: 45px;
}

/* ------------ End of Lesson Card ------------ */

.lessons-filter {
    width: 90%;
    background: #BF4C41;
    height: 500px;
    border-radius: 12px;
}

.primary-bg{
    background: #fddfdc;
}

.filter {
    border-radius: 12px;
    background: #fff;
}

/* ------------ Start of Checkout ------------ */

.checkout {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
    border-radius: 0px 12px 12px 0px;
}

.checkout-button {
    border: none;
    text-transform: capitalize;
    color: #fff;
    background: #000;
    width: 90%;
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    position: relative;
    top: 40px;
}

.dual-entry input {
    width: 48%;
}

.left-panel {
    height: 20%;
}

/* ------------ End of Checkout ------------ */


/* ------------ Start of Search Bar ------------ */
.search-bar {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search-bar input {
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.search-bar input:focus {
    outline: none;
}

/* ------------ End of Search Bar ------------ */

/* ------------ Start of Cart ------------ */
.cart-card {
    height: 700px;
    background-color: #fff;
    margin: 100px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.shopping-cart {
    border-radius: 20px 0px 0px 20px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;

}

.list-of-lessons {
    overflow: auto;
    height: 60%;
    width: 100%;
    height: 80%;

}

.shopping-cart h2 {
    font-size: 2em;
    color: #000;
}

.shopping-cart ul {
    width: 100%;
    padding: 3px;
}

.shopping-cart ul li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;
    background: #fff;
    height: 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



.remove-icon {
    cursor: pointer;
    color: #000;
    font-size: 1.5em;
}

.no-cart-items-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.no-cart-items-error button {
    border: none;
    margin-top: 10px;
    font-size: .7em;
    border-radius: 20px;
    padding: 10px;
    border: solid 2px #BF4C41;
    background-color: transparent;
}

.no-cart-items-error button:hover {
    background-color: #BF4C41;
    color: #fff;
    font-weight: bold;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    flex-direction: column;
    font-size: larger;
}

.message i {
    color: #000;
    margin-bottom: 10px;
}

.continue-shopping {
    color: #1e1e1e;
    font-weight: bold;
}

.continue-shopping i {
    font-size: 1.2em;
    color: #1e1e1e;
}

.continue-shopping:hover i,
.continue-shopping:hover span {
    color: #BF4C41;
    cursor: pointer;
}

.cart-total {
    color: #1e1e1e;
    font-size: 1.4em;
    display: flex;
    align-items: end;
    background: #fcfcfc;
}

.cart-total span {
    margin-right: 10px;
}

.entry input {
    text-align: center;
    border: solid rgb(160, 160, 160) 1px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.promo-gift input[type="text"] {
    border: none;
    width: 73%;
    font-size: 1em;
    text-transform: uppercase;
}

.promo-gift input[type="text"]::placeholder {
    text-transform: uppercase;
    color: rgb(207, 207, 207);
}

.promo-gift input[type="text"]:focus {
    outline: none;
}

.promo-gift button {
    border: none;
    text-transform: uppercase;
    padding: 10px;
    background: #bc3f34;
    color: #fff;
    border-radius: 30px;
}

.prompt {
    color: rgb(231, 34, 34);
    text-align: center;
    width: 100%;
    position: relative;
    top: 55px;
}


.checkout-headline {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.lblTotal {
    text-transform: uppercase;
    font-weight: bold;
}

.txtTotal {
    font-weight: bold;
}

.lbl,
.txt {
    font-family: 'Dosis', sans-serif;
}

.checkout-section-headline {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    font-family: 'Roboto Slab', serif;
}

.checkout-section-headline i,
h2 {
    font-size: 1.5em;
    color: #000;
}


.filter {
    height: 600px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* ------------ End of Cart ------------ */


/* ------------ Start of Footer ------------ */
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #fff;
    background: #BF4C41;
}

/* ------------ End of Footer ------------- */

/* ------------ Start of Animations ------------ */

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

/* ------------ End of Animations ------------ */