<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Hub</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dc398583c6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <div class="navbar container-fluid p-0">
            <div class="site-name col-6 p-4 h-100">
                <i class="fa-solid fa-school"></i>
                <h1 v-text="site_name"></h1>
            </div>
            <div class="navigation col-6 h-100 p-3">
                <div class="cart" v-on:click="toggleCart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="counter" v-text="cart.counter"></div>
                </div>

            </div>
        </div>

        <!-- Start of Lessons Page -->
        <div v-if="pages.lessons_page">
            <div class="search-bar container-fluid d-flex justify-content-center align-items-center">
                <input v-model="site.search_engine.query" :placeholder="site.search_engine.placeholder" class="col-6">
            </div>

            <div class="wrapper container-fluid">
                <div v-if="lessons.isOnFetchingError">
                    fetching error
                </div>

                <div v-else class="lesson-card" v-for="lesson in filteredLessons" :key="lesson.id">
                    <div class="lesson-icon">
                        <img :src="lesson.image.path" :alt="lesson.image.alt">
                        <div class="details">
                            <i :class="lesson.icon"></i>
                            <p v-text="lesson.subject"></p>
                            <div class="spaces-tag">
                                {{lesson.spaces}} spaces left
                            </div>
                        </div>
                    </div>

                    <div class="lesson-info">
                        <h3>Lesson Info</h3>

                        <label>Location: <span v-text="lesson.location"></span></label>
                        <label>Date: <span v-text="lesson.date"></span></label>
                        <label>Starts at: <span v-text="lesson.starts_at"></span></label>
                        <label>Ends at: <span v-text="lesson.ends_at"></span></label>
                    </div>

                    <div class="price-tag">
                        £{{lesson.price.toFixed(2)}}
                    </div>

                    <button class="card-button" v-on:click="addToCart(lesson)">{{lesson.button_text}}</button>
                </div>

            </div>
        </div>
        <!-- End of Lessons Page -->

        <!-- Start of Cart Page -->
        <div v-else-if="pages.cart_page" class="wrapper">
            <div class="cart-card col-8 row">
                <div class="col-8 shopping-cart h-100">

                    <div v-if="!isCartEmpty(cart.lessons.length)" class="h-75 w-100">
                        <div class="checkout-section-headline col-12">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <h2>Your Order</h2>
                        </div>
                       
                        <hr>
                        <div class="list-of-lessons">
                            <ul>
                                <li v-for="(lesson, index) in cart.lessons" :key="index">
                                    <div class="lesson-image col-2 h-100 d-flex justify-content-center align-items-center">
                                        <img :src="lesson.image.path" :alt="lesson.image.alt">
                                    </div>

                                    <div class="col-5 h-100 d-flex justify-content-around  align-items-center flex-column  ">
                                        <h5>Subject</h5>
                                        <h6>{{lesson.subject}}</h6>  
                                    </div>

                                    <div class="col-3 h-100 d-flex justify-content-center align-items-center">
                                        £{{lesson.price}}
                                    </div>

                                    <div class="col-2 h-100 d-flex justify-content-center align-items-center text-center ">
                                        <i class="remove-icon fa-solid fa-trash" v-on:click="removeFromCart(lesson)"></i>
                                    </div>

                                </li>
                            </ul>

                        </div>

                        <hr>

                        <div class="w-100 h-25">
                           
                            <div class="continue-shopping float-start col-6" v-on:click="backToShopping">
                                <span>Continue Shopping</span>
                                <i class="fa-solid fa-store"></i>
                            </div>
                        </div>
                    </div>
                    
                    <div class="no-cart-items-error" v-else>
                        <div class="message">
                            <i class="fa-solid fa-shop"></i>
                            No items in the Cart
                        </div>
                        <button v-on:click="backToShopping">Back to Shopping</button>
                    </div>
                </div>

                <div class="checkout col-4">
                    <div class="checkout-headline">
                        <h3>Checkout</h3>
                        <h6>Items: {{getCartSize()}}</h6>
                    </div>

                    <hr>

                    <div class="entry dual-entry d-flex w-100">
                        <input type="text" placeholder="First Name" v-model="checkout.fields.first_name">
                        <input type="text" placeholder="Last Name" v-model="checkout.fields.last_name">
                    </div>

                    <div class="entry d-flex flex-column">
                        <input type="text" placeholder="Email Address" v-model="checkout.fields.email_address">
                        <input type="text" placeholder="Phone" v-model="checkout.fields.phone">
                    </div>

                    <hr>
                    <div class="promo-gift d-flex">
                        <input v-model="checkout.discount_code" type="text" placeholder="promo or gift code">
                        <button v-on:click="applyDiscount">apply now</button>
                    </div>

                    <hr>

                    <div class="cart-total d-flex  p-2 w-100">
                        <div class="col-6 h-100 d-flex flex-column ps-3">
                            <label class="lbl">Sub-Total:</label>
                            <label class="lbl">Tax: </label>
                            <label class="lbl">Discount: </label>
                            <label class="lblTotal">Total</label>
                        </div>

                        <div class="col-6 h-100 d-flex flex-column align-items-end pe-2">
                            <span class="txt">£{{computedCart_SubTotal.toFixed(2)}}</span>
                            <span class="txt">£{{computedCart_Tax.toFixed(2)}}</span>
                            <span class="txt">£{{computedCart_Discount.toFixed(2)}}</span>
                            <span class="txtTotal">£{{computedCart_Total.toFixed(2)}}</span>
                        </div>

                    </div>

                    <hr>

                    <div class="w-100 d-flex justify-content-center align-items-center ">
                        <button class="checkout-button" v-on:click="submitCheckoutForm">pay £{{computedCart_Total}}</button>
                    </div>
                    <span class="prompt" v-if="prompt.show">{{prompt.message}}</span>
                   

                </div>
            </div>
        </div>
        <!-- End of Cart Page -->

        <div class="copyright container-fluid">
            <span>Copyright &copy; {{copyright.year}}, {{site_name}} | All Rights Reserved.</span>
        </div>

    </div>

    <script src="./js/app.js"></script>

</body>

</html>